.select-custom {
    position: relative;
    max-width: 500px;
    overflow: hidden;
    transition: 0.3s all ease;
    z-index: 5;
}

@media (max-width: 784px) {
    .select-custom {
        max-width: 100%;
    }
}

@media (max-width: 760px) {
    .select-custom {
        max-width: 100%;
    }
}

.select-custom__body {
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
    padding: 0px 5px;
    font-size: 13px;
    color: #000;
    background-color: #c72a2a;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.select-custom__icon {
    display: inline-block;
    margin-top: -7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg);
}

.select-custom__items {
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    outline: none;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
}

.select-custom__item {
    cursor: pointer;
    font-size: 13px;
    padding: 2px 6px;
}

.select-custom__item:hover {
    background-color: #005eff;
    color: #fff;
}

.select-custom.is-active {
    overflow: visible;
}

.select-custom.is-active .select-custom__items {
    background-color: #fff;
    z-index: 3;
}

.select-custom.is-active .select-custom__icon {
    margin-top: 0px;
    margin-bottom: -4px;
    transform: rotate(-135deg);
}