.event-form {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #2C2C2C;
    border-radius: 10px;
}

.add-event-content {
    padding: 50px 0px;
}

.event-form__head {
    padding: 0px 0px 15px 0px;
}

.event-form__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.event-form__title::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url("../img/Today.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.event-form__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    background-color: #000;
    padding: 70px 50px;
}

.event-form__items {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.event-form__item {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    row-gap: 25px;
    height: 100%;
}

.event-form__item:nth-child(1) {
    width: 24%;
}

.event-form__item:nth-child(2) {
    width: 26%;
}

.event-form__item:nth-child(3) {
    width: 30%;
}


.event-form__submit {
    text-align: center;
}

.event-form__btn {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 24px;
    padding: 15px 50px;
    cursor: pointer;
}

.event-form__images {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.event-form__field {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    height: 100%;
    width: 100%;
}


.access,
.status,
.cost-field {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: 100%;
}

.adress__label,
.event-form__label,
.cost-field__label,
.access__label,
.status__label {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 0px 0px 0px 4px;
}

.access .select-custom {
    max-width: 238px;
    width: 238px;
    min-width: 190px;
    background-color: transparent;
    border-radius: 8px;
}

.status .select-custom {
    max-width: 238px;
    width: 160px;
    min-width: 100px;
    background-color: transparent;
    border-radius: 8px;
}

.access .select-custom__body,
.status .select-custom__body {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 4px 12px 4px 20px;
}

.status .select-custom__body {
    padding: 8px 12px 8px 20px;
}

.access .select-custom__value,
.status .select-custom__value {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.status .select-custom__value {
    font-size: 16px;
}

.access .select-custom__icon,
.status .select-custom__icon {
    margin-top: -3px;
    /* border: solid white;
    border-width: 0 2px 2px 0; */
    width: 25px;
    height: 25px;
    background-image: url("../img/select_arrow.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(0deg);
}

.status .select-custom__icon {
    width: 22px;
    height: 22px;
}

.access .select-custom__items,
.status .select-custom__items {
    background-color: #000000;
    border: 1px solid #ffffff;
}

.access .select-custom__item,
.status .select-custom__item {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    padding: 4px 20px;
}

.status .select-custom__item {
    font-size: 16px;
    padding: 8px 20px;
}

.access .select-custom.is-active .select-custom__items,
.status .select-custom.is-active .select-custom__items {
    background-color: #000000;
    z-index: 3;
}

.access .select-custom.is-active .select-custom__icon,
.status .select-custom.is-active .select-custom__icon {
    margin-bottom: 0px;
    transform: rotate(180deg);
}

.access .select-custom__value,
.access .select-custom__item,
.status .select-custom__value,
.status .select-custom__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.access .select-custom__value::before,
.access .select-custom__item:nth-child(1)::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("../img/people_skin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.access .select-custom__item:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("../img/Lock.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.adress {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.adress__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.adress__item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.adress__input,
.event-form__name,
.cost-field__input input,
.event-form__time,
.event-form__date {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    padding: 10px 12px 10px 15px;
    border-radius: 8px;
}

.cost-field__input input {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 12px 10px 30px;
}

.cost-field__input {
    position: relative;
    width: 100%;
    max-width: 150px;
}

.cost-field__input input {
    width: 100%;
    height: 100%;
}

.cost-field__input::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 12px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/Dollar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}