body {
    background-color: #000;
}

.header {
    border-bottom: 0.5px solid rgba(212, 212, 212, 0.3);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
}

.content {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    width: 100%;
}

.main {
    /* background-color: #fff; */
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.title {
    padding: 50px 0px;
}

.title__name {
    width: 100%;
    background-color: rgba(72, 72, 72, 62%);
    text-align: center;
    padding: 15px 0px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.menu {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.menu__item a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.footer__body {
    padding: 20px 0px;
    border-top: 0.5px solid rgba(212, 212, 212, 0.3);
    border-bottom: 0.5px solid rgba(212, 212, 212, 0.3);
}

.info {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 30px;
    padding: 10px 0px;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.contact__email,
.contact__address {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.learn-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 22px;
    padding: 18px 0px;
}

.learn-more__title,
.social__title {
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
    padding: 18px 0px;
}

.learn-more__links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.social__links {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.learn-more__link a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.social__link a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.social__link img {
    width: 40px;
    height: 45px;
}

.learn-more__link a {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.copyright {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}


.events {
    background-color: #2C2C2C;
    padding: 40px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    margin: 0px auto;
}

.events__head {
    border-bottom: 1px solid rgba(212, 212, 212, 0.3);
    text-align: center;
    padding: 0px 0px 26px;
}

.events__title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 26px;
}

.events__date {
    text-transform: capitalize;
}

.events__count {
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #7F57F1;
    color: #7F57F1;
    font-size: 36px;
    font-weight: 400;
    padding: 8px 18px;
}

.events__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 0px 0px;
    height: 73%;
}

.events__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
}

.events__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 100%;
}

.events__event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #515151;
    border-radius: 8px;
    padding: 10px 20px;
    column-gap: 5px;
}

.events__details {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    background-color: #515151;
    border-radius: 8px;
    padding: 10px 20px;
}

.events__name,
.events__time,
.events__status {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.events__time {
    text-align: center;
    width: 100%;
}

.events__name {
    width: 100%;
    text-align: start;
}

.events__status {
    text-align: end;
    width: auto;
}

.events__btn {
    align-self: center;
}

.events__link {
    display: inline-block;
    background-color: #7F57F1;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    padding: 15px 25px;
}