.multi-field {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 0px 0px 25px 0px;
}

.multi-field__title {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 0px 0px 6px;
}

.multi-field__label {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 35px 10px 25px;
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #515151;
    font-weight: 700;
}

.multi-field__label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../../img/Download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.multi-field__row {
    display: flex;
    align-self: center;
    column-gap: 8px;
}

.multi-field__buttons {
    display: flex;
    align-self: center;
    height: 100%;
}

.multi-field__file {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.multi-field__img {
    display: none;
    width: 158px;
    height: 135px;
    border-radius: 10px;
}

.multi-field__minus {
    display: inline-block;
    width: 51px;
    height: 41px;
    background-image: url("../../../img/Minus.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.multi-field__plus {
    display: inline-block;
    width: 51px;
    height: 41px;
    background-image: url("../../../img/Add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.multi-field__radiomark {
    cursor: pointer;
}

.multi-field__radiomark::after {
    content: "";
    display: inline-block;
    width: 51px;
    height: 41px;
    background-image: url("../../../img/Checkbox.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.multi-field__radiomark.active::after {
    content: "";
    display: inline-block;
    width: 51px;
    height: 41px;
    background-image: url("../../../img/CheckedCheckbox.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}